@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Вход в систему";
    Layout = "_LoginLayout";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="lib\lightbox2-dev\dist\js\lightbox.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/css/shrift1.css">


<style>
    body {
        background: #fef7af
    }

    .stroke {
        text-shadow: black 3px 3px 0, black -3px -3px 0, black -3px 3px 0, black 3px -3px 0;
    }
</style>

<form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-route="default" method="post">
    <div class="card mt-0 mb-0">
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group bmd-form-group">
                <label asp-for="Login" class="bmd-label-floating"></label>
                <input asp-for="Login" class="form-control" placeholder="Имя пользователя">
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>

            <div class="form-group bmd-form-group">
                <label asp-for="Password" class="bmd-label-floating"></label>
                <input asp-for="Password" class="form-control" placeholder="Пароль">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group bmd-form-group">
                <div class="form-check pull-left">
                    <label class="form-check-label" asp-for="RememberMe">
                        <input class="form-check-input" asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                        <span class="form-check-sign">
                            <span class="check" />
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="card-footer justify-content-center">
            <button type="submit" class="btn btn-primary btn-fill btn-lg">Войти</button>
        </div>
        <p class="text-center">
            @Html.ActionLink("Забыли пароль?", "ForgotPassword", "Account")
        </p>


        <p class="text-center">
            @Html.ActionLink("Зарегистрироваться", "RegistrationNewUser", "Account")
        </p>
    </div>
</form>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
