@model NewUserViewModel
@{
    ViewData["Title"] = "Регистрация нового пользователя";
    Layout = "_LoginLayout";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="lib\lightbox2-dev\dist\js\lightbox.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/css/shrift1.css">


<style>
    body {
        background: #fef7af
    }

    .stroke {
        text-shadow: black 3px 3px 0, black -3px -3px 0, black -3px 3px 0, black 3px -3px 0;
    }
</style>

<form asp-action="RegistrationNewUser" method="post">
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group bmd-form-group">
            <label asp-for="Email" class="bmd-label-floating"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group bmd-form-group">
            <label asp-for="Password" class="bmd-label-floating"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group bmd-form-group">
            <label asp-for="ConfirmPassword" class="bmd-label-floating"></label>
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>


        <div class="form-group bmd-form-group">
            <label asp-for="UserName" class="bmd-label-floating"></label>
            <input asp-for="UserName" class="form-control" placeholder="Имя пользователя">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>


        <div class="form-group bmd-form-group">
            <label asp-for="FirstName" class="bmd-label-floating"></label>
            <input asp-for="FirstName" class="form-control" placeholder="Имя">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group bmd-form-group">
            <label asp-for="Surname" class="bmd-label-floating"></label>
            <input asp-for="Surname" class="form-control" placeholder="Фамилия">
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
    </div>

    <div class="card-footer justify-content-center">
        <button type="submit" class="btn btn-primary btn-fill btn-lg">Зарегистрироваться</button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}