@model ICollection<RestaurantViewModel>
    @{
        ViewData["Title"] = "Restaurants Page";
    }

<div class="text-center">
    <h1 class="display-4">List Restaurant</h1>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <a class="text-white-50" asp-controller="Restaurants" asp-action="RestaurantPage">@item.Name</a>
            <a href="/Restaurants/RestaurantPage/@item.Id"><h1>@item.Name</h1></a>
            <p> @item.Address </p>
            <p></p>
        }
    }
</div>
